:root {
  --transition: 0.5s;
}


html {
  /* position: relative; */
}

body {
  /* transition: var(--transition); */
}

#toggle {
  width: 40px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  top: 15px;
  right: 45px;
  border: 2px solid #fff;
  border-radius: 240px; /* 50rem = 50 x 16 */
  transition: var(--transition);
}

#toggle #slider {
  width: 16px;
  height: 16px;
  background-color: #212529;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: var(--transition);
}

#toggle #slider.right {
  left: calc(100% - 16px);
}


.form-control-dark {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #212529;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-dark:focus {

  /* background-color: #fff; */
  border-color: #86b7fe;
  caret-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.form-control-dark.is-valid, .was-validated .form-control-dark:valid{
border-color: #198754;
padding-right: calc(1.5em + .75rem);
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
background-repeat: no-repeat;
background-position: right calc(.375em + .1875rem) center;
background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.form-control-dark.is-valid:focus, .was-validated .form-control-dark:valid:focus {
  border-color: #198754;
  box-shadow: 0 0 0 .25rem rgba(25,135,84,.25);
}

.form-control-dark.is-invalid, .was-validated .form-control-dark:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.form-control-dark.is-invalid:focus, .was-validated .form-control-dark:invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 .25rem rgba(220,53,69,.25);
}

.layer {
  /* height: 100vh;
  width: 100%;
  background-color: red; */
}

#updateForm {
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  /* height: 100vh; */
  width: 50%;
}

#closeBtn {
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
  /* font-size: 18px; */
}

#closeBtn:hover {
  top: 14px;
  color: #dc3545;
}

/* #done {
  animation: disappear 7s;
  color: #198754;
}

@keyframes disappear {
  0%,
  100% {
    color: #198754;
  }
  
  50% {
    color: #f8f9fa;
  }
} */


.alert {
  width: fit-content;
}